extends layouts/main.pug

block content
    p API
        ul
            li
                a(href=`/api${routes.apiGetDeviceList}`) GetDeviceList
            li
                a(href=`/api/${routes.apiGetDeviceListNoScene}`) GetDeviceListNoScene