extends layouts/main.pug

block content
    p API
        ul
            li
                a(href="/api/getDeviceList") GetDeviceList
            li
                a(href="/api/getDeviceListNoScene") GetDeviceListNoScene