extends layouts/main.pug
include mixins/userBlock

block content
    p 사용자리스트 | #{id}
    .userList
        each users in userList            
            +userBlock({
                id: users.id,
                name: users.name,
                email: users.email
            })